<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>
      View Your Listings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Listing 1</ion-card-title>
      <ion-card-subtitle>Listing Address/Location</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-avatar>
        <img src="https://i.boring.host/16AXfItu.jpg">
      </ion-avatar>
      <ion-button>See Listing Details</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Listing 2</ion-card-title>
      <ion-card-subtitle>Listing Address/Location</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-avatar>
        <img src="https://i.boring.host/16AYUMML.jpg">
      </ion-avatar>
      <ion-button>See Listing Details</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>