<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Create New Listing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-input type="text" placeholder="City, Country" [ (ngModel) ]="my_location"></ion-input>
  <ion-input type="text" placeholder="Street Address" [ (ngModel) ]="my_address"></ion-input>
  <ion-input type="text" placeholder="Image URL" [ (ngModel) ]="my_imgName"></ion-input>
  <ion-input type="text" placeholder="Occupancy (Number)" [ (ngModel) ]="my_occupancy"></ion-input>
  <ion-button (click)="create_listing()">Create Listing</ion-button> -->

  <ion-button>Create New Listing</ion-button>
</ion-content>

