<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref = 'tabs'></ion-back-button>
    <ion-title>Create A Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
  
      <ion-item>
        <ion-label>Listing Name</ion-label>
        <ion-input [(ngModel)]="property.name"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Location</ion-label>
        <ion-input [(ngModel)]="property.location"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Image URL (online)</ion-label>
        <ion-input [(ngModel)]="property.imgname"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Price</ion-label>
        <ion-input [(ngModel)]="property.price"></ion-input>
      </ion-item>
  
      <ion-button expand = "full" (click)="submit()">
        Create Listing
      </ion-button>
  
    </div>
  </ion-content>
