<ion-header>
  <ion-toolbar>
    <ion-title>
      Your Existing Listings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf = "properties">
  <ion-list>
    <ion-item
    *ngFor="let property of properties"
    (click)="navToProperty(property)">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{property.name}}</ion-card-title>
          <ion-card-subtitle>${{property.price}} per day at {{property.location}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-avatar>
            <img src="{{property.imgname}}">
          </ion-avatar>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>