<ion-header>
  <ion-toolbar>
    <ion-title>
      Your Existing Listings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let listing of Listings">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{listing.location}}</ion-card-title>
          <ion-card-subtitle>{{listing.price}} at {{listing.address}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-avatar>
            <img src="{{listing.imgName}}">
          </ion-avatar>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>