<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="person"></ion-icon> Profile of {{user.firstname}} {{user.lastname}}</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
    
    <div class="ion-padding">
      <ion-avatar class="avatar">
        <img src="https://i.boring.host/15G7acWX.png">
      </ion-avatar>
      <h2>Hi, I'm {{user.firstname}}</h2>
      <p>Joined in {{user.join_date}}</p>
    </div>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>About</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><ion-icon name="home"></ion-icon>Lives in {{user.where_lives}}</p>
        <p><ion-icon name="mail"></ion-icon>Email address: {{user.email}}</p>
        <p><ion-icon name="call"></ion-icon>Phone number: {{user.cellphone}}</p>
      </ion-card-content>

    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>User Information</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Number of Bookings Completed: {{user.trips_booked}}</p>
        <p>Number of Reviews Received: {{user.reviews_given}}</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Reviews</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        *User Reviews Go Here*
      </ion-card-content>
    </ion-card>


  </ion-content>

